.custom-date-picker {
  border: 1.5px solid #c67cae;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: #c67cae;
  width: 110px;
  text-align: center;
  z-index: 999999999999;
}

.custom-date-picker:focus {
    border-color: #c67cae;
    outline: none;
}

.custom-calendar {
    background-color: #ffe4e1;
    border: 1px solid #c67cae;
    z-index: 999999999999;
}

.custom-calendar .react-datepicker__day--selected {
    background-color: #c67cae;
    color: white;
}

.custom-calendar .react-datepicker__day--keyboard-selected {
    background-color: #c67cae;
    color: white;
}