

*, *::before, *::after {
  box-sizing: inherit;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vh;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #ffe4e1;
  overflow: auto;
  white-space: nowrap;
}









.todos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #efefef; /* Fondo amarillo pastel tirando a rosa claro */
  border: 1px solid #d147a3; /* Borde rosado oscuro */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(209, 71, 163, 0.3); /* Sombra rosada */
  position: relative;
  animation: fadeIn 1s ease-in-out; /* Aplicar la animación */
}



.todo-li{
  list-style-type: none;
  width: 100%;
}

ul{
  width: 90%;
  padding: 0;
  margin: 0;
}

.today-section-h2{
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 1vh 5%;
}

.decorative-gif{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.no-todos{
  font-size: 1rem;
  font-weight: bold;
  color: #d147a3; /* Rosado oscuro */
  margin: 0;
}

.main-no-todos {
    display: flex;
    width: 80%; /* Suficientemente grande para móvil */
    max-width: 500px; /* Pequeño para ordenador */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: shrinkFadeIn 2s forwards; /* Apply the animation */
    border: 2px solid #d147a3; /* Borde rosado oscuro */
    border-radius: 10px;
  }
  
  @keyframes shrinkFadeIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
